In [18]:
import pandas as pd
import numpy as np
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.feature_extraction import DictVectorizer
from sklearn.model_selection import train_test_split
from sklearn.naive_bayes import MultinomialNB

In [3]:
df = pd.read_csv('names_dataset.csv')

In [4]:
df.head()

   index       name sex
0      0       Mary   F
1      1       Anna   F
2      2       Emma   F
3      3  Elizabeth   F
4      4     Minnie   F

In [5]:
df[df.sex == 'F'].size

181800

In [6]:
df[df.sex == 'M'].size

103275

In [7]:
df_names = df

In [8]:
df_names.sex.replace({'F':0,'M':1},inplace=True)

In [9]:
df_names.dtypes

index     int64
name     object
sex       int64
dtype: object

In [10]:
Xfeatures =df_names['name']

In [14]:
cv = CountVectorizer()
X = cv.fit_transform(Xfeatures)

In [16]:
X
y = df_names.sex

In [17]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33, random_state=42)

In [19]:
clf = MultinomialNB()
clf.fit(X_train,y_train)
clf.score(X_test,y_test)

0.6398163206734908

In [20]:
print("Accuracy of Model",clf.score(X_test,y_test)*100,"%")

Accuracy of Model 63.98163206734908 %

In [21]:
print("Accuracy of Model",clf.score(X_train,y_train)*100,"%")

Accuracy of Model 100.0 %

In [22]:
def genderpredictor(a):
    test_name = [a]
    vector = cv.transform(test_name).toarray()
    if clf.predict(vector) == 0:
        print("Female")
    else:
        print("Male")

In [23]:
genderpredictor("Mohammad")

Male

In [24]:
genderpredictor("hassan")

Male

In [25]:
genderpredictor("sara")

Female